.card-info {
    padding: 10px;
    text-align: right;
    margin-right: 40px;
    margin-left: auto;
    width: 100%;
    height: 100%;
  }
  
  .card-info h2 {
    margin: 0;
    font-size: 26px;
    color: rgb(200, 200, 200);
    padding-bottom: 4px;
    padding-bottom: 10px;
  }

  .card-info h3 {
    color: rgb(255, 192, 91);
    font-weight: 500;
    font-size: 34px;
  }
  
  .card-info h5 {
    margin: 0;
    font-size: 26px;
    color: rgb(200, 200, 200);
    padding-bottom: 4px;
    padding-bottom: 10px;
    letter-spacing: 1px;
  }
  
  .card-header span:last-child {
    margin-right: 0;
  }

  form {
    margin: 0;
  }
