.gray-lighter {
    background-color: #011d3991; 
  }
  
  .brand-info {
    background-color: #011d39bd; 
    color: #17a2b8; 
  }
  
  .brand-success {
    background-color: #011d39bd; 
    color: #fff; 
  }
  