.side-bar {
    padding-top: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-left: 20px;
    min-height: 100%;
    background-color: #99a7c4;
    backdrop-filter: blur(20px);
    border-right: 4px solid rgba(99, 173, 228, 0.35);
    z-index: 9999;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 240px);
    overflow-y: auto;
}

.side-navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #000304;
    padding: 10px;
    display: block;
    transition: all 0.3s;
    border-radius: 8px;
}

.side-navbar a:hover, .side-navbar a.active {
    background-color: #c2c2ef;
    color: #874747;
    border-radius: 8px;
}

.side-navbar .logo-container img {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 180px;
    height: auto;
}

.sidebar-userdata {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1c5d2a;
    border-radius: 200px;
    margin: 20px 2px;
}

.sidebar-userdata img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #ff6b6b;
}

.sidebar-userdata h3 {
    color: #50a0c5;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ff6b6b;
    border-radius: 8px;
    margin: 20px;
}

.sidebar-bottom a {
    width: 100%;
    text-align: center;
    color: #d8a5a5;
    font-size: 18px;
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4ecae9;
    color: rgb(195, 131, 131);
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #3d3d4e;
    color: #ffffff;
}
