.col-3 {
    width: 300px;
}

.col-md-4 {
    margin-top: 5px;
    width: 16%;
    margin-left: 5px;
}

.filters {
    display: flex;
    margin-top: 8px;
}

.emptylist {
    color: rgb(200, 220, 250);
    font-size: 42px;
    margin-top: 45vh;
    margin-left: 100px;
}

.emptylist img {
    width: 100px;
    margin-right: 50px;
}